

h1 {   
    color: YELLOw;      
    font-size: 100xp ;
}   
/* *{
    box-sizing: border-box;
    box-align: center;
    padding: 20px,10px,10px,10px;
    border: 10px, lightgreen;
} */
p {
    color:lightgreen;
    font-size: 20px;
}
h2 {
    color:cyan;
    font-size: 30px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50% ; 
    width:10%;
    }
body{
    background-image: url(spacey.gif);
     background-size: fill;
    background-position: center; 
    height: auto;
    width: auto; 
}

*{
    text-align: center;
}
.center {
    text-align: center;
    border: 10px solid yellow;
}